<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">
            Change Password
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <div fxFlex fxLayout="column">

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="oldPassword">

                <mat-error *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.invalid">
                    <span *ngIf="form.controls.oldPassword.errors.required">
                        The field is mandatory
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword">

                <mat-error *ngIf="form.controls.newPassword.touched && form.controls.newPassword.invalid">
                    <span *ngIf="form.controls.newPassword.errors.required">
                        The field is mandatory
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword">

                <mat-error *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid">
                    <span *ngIf="form.controls.confirmPassword.errors.required">
                        The field is mandatory
                    </span>
                </mat-error>

                <mat-hint *ngIf="validateSubmit() && !(form.controls.confirmPassword.invalid)">
                    <span>New Password & Confim Password does not match</span>
                </mat-hint>

            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit(form)"
        [disabled]="!(form.valid && form.dirty)">
        Forgot Password
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>
        Close
    </button>
</mat-dialog-actions>