<body>
    <mat-card>
        <!-- Nội dung của mat-card -->
    </mat-card>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Category</h2>
                    <h2 class="title">{{ data?.category }}</h2>
                    <p><button class="button">View Category</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Product</h2>
                    <h2 class="title">{{ data?.product }}</h2>
                    <p><button class="button">View Product</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Bill</h2>
                    <h2 class="title">{{ data?.bill }}</h2>
                    <p><button class="button">View Bill</button></p>
                </div>
            </div>
        </div>
    </div>
</body>