<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">SignUp</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="form.controls.email.touch && form.controls.email.invalid">
                    <span *ngIf="form.controls.email.errors.required">
                        The field is mandatory
                    </span>
                    <span *ngIf="form.controls.email.errors.pattern">
                        The field is invalid
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required>
                <mat-error *ngIf="form.controls.password.touch && form.controls.password.invalid">
                    <span *ngIf="form.controls.password.errors.required">
                        The field is password
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit(form)"
        [disabled]="!(form.valid && form.dirty)">
        Forgot Password
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>
        Close
    </button>
</mat-dialog-actions>